openapi: 3.1.0
info:
  title: NVIDIA NIM Models API
  description: >
    OpenAI-compatible model catalog endpoint. Returns the list of models served
    by the NIM endpoint or self-hosted container — useful for discovering the
    exact `model` strings to pass to chat completions, completions, or
    embeddings.
  version: '2026-05-25'
  contact:
    name: NVIDIA Developer Support
    url: https://forums.developer.nvidia.com/c/ai-data-science/nemo-llm-service/
  license:
    name: NVIDIA AI Enterprise License
    url: https://www.nvidia.com/en-us/data-center/products/ai-enterprise/
servers:
  - url: https://integrate.api.nvidia.com
    description: NVIDIA-hosted NIM endpoint
  - url: http://localhost:8000
    description: Self-hosted NIM container default
security:
  - BearerAuth: []
tags:
  - name: Models
    description: Model discovery operations
paths:
  /v1/models:
    get:
      summary: List Available Models
      description: Return the list of models exposed by this NIM endpoint or container.
      operationId: listModels
      tags:
        - Models
      responses:
        '200':
          description: Model list.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModelList'
        '401':
          description: Missing or invalid API key.
  /v1/models/{model_id}:
    get:
      summary: Retrieve A Model
      description: Return metadata for a single model id.
      operationId: getModel
      tags:
        - Models
      parameters:
        - name: model_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Model object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '404':
          description: Model not found.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: nvapi-...
  schemas:
    ModelList:
      type: object
      properties:
        object:
          type: string
          example: list
        data:
          type: array
          items:
            $ref: '#/components/schemas/Model'
    Model:
      type: object
      properties:
        id:
          type: string
          example: meta/llama-3.3-70b-instruct
        object:
          type: string
          example: model
        created:
          type: integer
        owned_by:
          type: string
          example: meta
        root:
          type: string
        permission:
          type: array
          items:
            type: object
